[submodule "external/tw93/Waza"]
	path = external/tw93/Waza
	url = git@github.com:tw93/Waza.git
[submodule "external/JimLiu/baoyu-skills"]
	path = external/JimLiu/baoyu-skills
	url = git@github.com:JimLiu/baoyu-skills.git
[submodule "external/op7418/guizang-ppt-skill"]
	path = external/op7418/guizang-ppt-skill
	url = https://github.com/op7418/guizang-ppt-skill.git
[submodule "external/tw93/Kami"]
	path = external/tw93/Kami
	url = https://github.com/tw93/Kami.git
[submodule "external/JimLiu/baoyu-design"]
	path = external/JimLiu/baoyu-design
	url = git@github.com:JimLiu/baoyu-design.git
